
body {
	margin:0px; padding:0px;
	background-color:black;	
	font-family: Arial, Helvetica, sans-serif;

    }
    
a   {color:#dbaa70;}
a:hover {color:#654219;}

p {color:#dbaa70;}
p.normal {font-style:normal;}
p.italic {font-style:italic;}
p.oblique {font-style:oblique;}

h1 {
	color: #dbaa70;
	font-size:28px;
	font-weight:normal;
	
	}

h2 { 
    color: #dbaa70;
	/* margin:10px 50px 10px; */
	font-weight:normal;
	
    }
 
h3 {
	color: white;
	font-size:16px;
	font-weight:bold;
	
	}

.adleaderboard {
	display: block;
    margin-left: auto;
    margin-right: auto;
	text-align: center;
	}

/* ####### Containers ###### */

/* 

	Background Images

--- main PSD (Original, with 'in-lay') http://d2o0t5hpnwv4c1.cloudfront.net/002_WebBuild/site/images/background_main.jpg
--- bio-gold 800x100(orig) http://www.bru.hlphys.jku.at/surf/image/sym_cub_09p1_Surf.png
--- main PSD blank small http://d2f8dzk2mhcqts.cloudfront.net/115_WebDesign/7.jpg
--- http://1.bp.blogspot.com/-qkHW1gX0us8/TeZEVc_xudI/AAAAAAAAAEc/vx_z7Ap4viI/s1600/effect.png
*/
    
.container {
    background:url(http://www.bru.hlphys.jku.at/surf/image/sym_cub_09p1_Surf.png); 
    font-family:Georgia, "Times New Roman", Times, serif;
    background-repeat:repeat-y;
	min-height:800px;
	width:1000px;
	/* position: relative; */
	
    }
    
.container2 {
    background:url(http://1.bp.blogspot.com/-qkHW1gX0us8/TeZEVc_xudI/AAAAAAAAAEc/vx_z7Ap4viI/s1600/effect.png); 
    /* font-family:Georgia, "Times New Roman", Times, serif; */
    background-repeat:repeat-y;
	min-height:800px;
	width:1000px;
	/* position: relative; */
	
    }
    
/* ####### Areas ###### */

.area {
	/* position: relative; */
    position: relative;
    top: 5px;
    left: 40px;
    width: 830px;

	}
	
/* may need a "newlinearea" for spacing between areas */

.headerarea {
	/* position: relative; */
    position: relative;

	}
    
.menuarea {
	/* position: relative; */
	/* padding: 10px; */
	
	}

.mainarea {
	position: relative;
    /* top: 290px;
    left: 50px; */
    
	}
	
/* this is the wrong section for .menustyle */
.menustyle a{
	postion: inherit;
/*	inline-block, block, */
	display: block;
	padding: 2px;
	
	}
.menustyle a:hover {color:#654219;}
    
.footerarea {
	/* position: relative;*/

	}
	
/*	###### Content ######	*/

.column1 { 
   float:left;
   width:530px;
   margin-right:30px;

   }

.column2 {
	float:right; 
	width:270px;
	
	}
	
/*	###### formatting ######	*/	

.rounded {  
    -moz-border-radius: 5px;  
    -webkit-border-radius: 5px;  
    border-radius: 5px;  
    }

.rim {
	-moz-border-radius: 5px;  
    -webkit-border-radius: 5px;  
    border-radius: 5px; 
	
	border:1px solid rgba(255, 255, 255, 0.09);
	
	}

.platelight {
	padding: 30px;
    background: rgba(0, 0, 0, 0.2);

    }

.platedark {
	padding; 10px;
    background: rgba(0, 0, 0, 0.7);

    }
    
.leftleft {
	/* display:inline; */
	float:left;
	
    }
    
.rightright {
	/* display:inline; */
	float:right;
	
    }


/*	###### Logo / Menu / Panel Positioning ######	*/



/*

#headerarea {
    position: absolute;
    top: 10px;
    left: 50px;
    width: 830px;

	/* border opacity */
    border:1px solid rgba(255, 255, 255, 0.09);
    color:#dbaa70;
    padding: 10px;
    /* background-color: black; */

	/* opacity:.6; */
    filter:Alpha(opacity=60); /* Internet Explorer */
    background: rgba(0, 0, 0, 0.2);

    }
    
/*	NAV Section	*/
/* this section is important find out why darrin? the footer wont display properly if this section does not exist */
li {
	display: line-through;
	color: #dbaa70;
	text-decoration:none;
	
	}

blockquote {
	font-size:14px;
	font-weight:normal;
	
    }
	
#dictionaryview {
    position:relitive;

    }

#panel { position:absolute; top:165px; left:51px; }


#content h2 {
	color:#dbaa70;
	margin:0px 0px 20px 0px;
	font-weight:normal;
	
}

/*	UL LI Section	*/


/* Footer Section */

.footer {
    border-top:none;
	padding:30px 50px 85px;
	color:#dbaa70;
	font-size:9px;
	line-height:14px;
	position:relative;

    }

.footermenu {
	display:inline;
	float:left;
	width:210px;
	
    }

.footer a {
	color:#dbaa70;
	text-decoration:none;
	
    }
    
.footer a:hover { color:#999999; }


.footer img {
	float:left;
    margin-left:03px;
	margin-right:00px;
    margin-bottom:03px;
	
    }

.accesskey { text-decoration: underline; }

/*	General Styles	*/

a img { border:0px }

.warning {
	color: yellow;
	font-size:16px;
	font-weight:normal;
	
	}
	
/*
    ADD word section li and ol's
*/

/* fill-in grey txt */
input {
color:#777777;

}
 fieldset {
  margin-bottom: 10px;
  color:#dbaa70;
}
  legend {
  padding: 0 .5px;
  font-weight: normal;
  color:#dbaa70;
}
 label {
  display: inline-block;
  line-height: 1.8;
  vertical-align: top;
  color:#dbaa70;
}
 fieldset ol {
  margin: 0;
  padding: 0;
}
 fieldset li {
  list-style: none;
  padding: 5px;
  margin: 0;
}
em {
  font-weight: bold;
  font-style: normal;
  color: #f00;
