<!DOCTYPE html>
<html lang="en">

 {% include "head.html" %}

<body>

  <div class="container2">
  
     <div class="headerarea">
      
       {% include "header.html" %}
        
     </div>
     
     <div class="menuarea"> 

       {% include "menumain.html" %} 

       {% include "menuabout.html" %}
       
     </div>
        
     <div class="mainarea">
     
        <div class="column1 rim platedark">
       
          <h2>About us</h2>
        
          {% include "content_about.html" %} 

          <div class="footer">
        
            {% include "footer.html" %}
          
          </div>

       </div>
      
    </div>
    
  </div>




 
</body>
       
</html> 

