<!DOCTYPE html>
<html lang="en">

{% include "head.html" %}
 
<body>

  <div id="container">
  
    <div class="headerarea">
      
       {% include "header.html" %}
        
     </div>
     
     <div class="menuarea"> 

       {% include "menumain.html" %} 

       {% include "menuabout.html" %}
       
     </div>
        
     <div class="mainarea">
     
        <div class="column1 rim platedark">

        {% include "content_pp.html" %}
        
          <div class="footer">
        
            {% include "footer.html" %}
          
          </div>
      
        </div>
      
     </div>  
    
  </div>  
        
    

</body>

</html>

        
 