<!DOCTYPE html>
<html lang="en">

  {% include "head.html" %}

<body>
 
  <div class="container">
  
<div class="area rim platelight">
    
     <div class="headerarea rim platelight">
      
       {% include "header.html" %}
        
     </div>
      
     <div class="menuarea rim platelight">
    
       {% include "menumain.html" %}

     </div>
    
     <div class="mainarea">
     
        <div class="column1 rim platedark">
       
        <h2>Contact</h2>
        
        <div class="menustyle">
        
          {% include "content_contact.html" %} 
          
		</div>
		
        <div class="footer">
           
          {% include "footer.html" %}
             
        </div>

      </div>
      
    </div>
    
  </div>



 
</body>
       
</html> 

