<!-- div_footer.html Footer, copyright, acknowledgments   -->

<!-- data-role="footer" -->
<div data-role="footer" data-theme="b"> 
	
	<div data-role="navbar" >

		{% include "menu_content_info.html" %}

	</div><!-- /navbar -->

	<h6>

		<img alt="Powered by Google App Engine" src="http://code.google.com/appengine/images/appengine-silver-120x30.gif">

		and

		<img alt="Powered by Python" src="http://www.python.org/community/logos/python-powered-w-70x28.png">

	</h6>

	<h6>&copy; 2010-12 notaworddictionary.us  &amp; notta.us</h6>

	<div data-role="navbar" >

		{% include "menu_content_tospp.html" %}

	</div><!-- /navbar -->

</div><!-- /footer -->

	<!-- <img alt="Powered by Google App Engine" src="http://code.google.com/appengine/images/appengine-silver-120x30.gif"> -->

    <!-- <img alt="Powered by Python" src="http://www.python.org/community/logos/python-powered-w-70x28.png"> -->
    <!-- &copy; Copyright 2010 Notta Corporation nottaword.com -->

    <!-- 2010 &copy; notaworddictionary.us  &amp; notta.us -->
    
	<!-- <div class="footermenu"> -->
	
      <!--  include "menu_content_tospp.html"  -->
      
	<!-- </div><!-- /footermenu -->



