<!DOCTYPE html>
<!-- Project: NOTAWORDDICTIONARY MOBILE -->
<html lang="en">

  {% include "head.html" %}

<body>

<div class="container">
  
  <div class="area rim platelight">
    
     <div class="headerarea rim platelight">
      
       {% include "header.html" %}
        
     </div>
     
    <!--  <div class="menuarea rim platelight">
     
        {5 include "content_alpha.html" 5}
        
     </div> -->
      
     <div class="menuarea rim platelight">
    
        {% include "menumain.html" %}

     </div>
    
     <div class="mainarea">
     
        <div class="column1 rim platedark">
      
           <h2>Worlds NEWEST word!!!!</h2>
         
             {% include "block_newword_db.html" %}
           
           <h2>Welcome!</h2>
            
             {% include "content_welcome.html" %}
               
           <div class="footer">
           
             {% include "footer.html" %}
             
           </div>
          
        </div>
      
    </div> 

  </div>

</div> 
 --> 

</body>
</html>